In [1]:
from datetime import datetime

import pandas as pd

def convert_timestamp(timestamp):
    return datetime(year=int(timestamp[0:4]), 
                    month=int(timestamp[4:6]), 
                    day=int(timestamp[6:8]), 
                    hour=int(timestamp[8:10]), 
                    minute=int(timestamp[10:12]), 
                    second=int(timestamp[12:14]))

df = pd.read_csv('iowa_doc.csv')
df['timestamp'] = df['url'].apply(lambda url: url.split('/')[4])
df['timestamp'] = df['timestamp'].apply(convert_timestamp)
df

,Institution,Current Count,url,timestamp
0,Anamosa,903,https://web.archive.org/web/20170323175908/htt...,2017-03-23 17:59:08
1,Luster Heights,0,https://web.archive.org/web/20170323175908/htt...,2017-03-23 17:59:08
2,Clarinda,977,https://web.archive.org/web/20170323175908/htt...,2017-03-23 17:59:08
3,Lodge,0,https://web.archive.org/web/20170323175908/htt...,2017-03-23 17:59:08
4,Fort Dodge,1291,https://web.archive.org/web/20170323175908/htt...,2017-03-23 17:59:08
...,...,...,...,...
3679,Mount Pleasant,858,https://web.archive.org/web/20230429064712/htt...,2023-04-29 06:47:12
3680,MPCF Minimum Live-Out,160,https://web.archive.org/web/20230429064712/htt...,2023-04-29 06:47:12
3681,Newton-Medium,941,https://web.archive.org/web/20230429064712/htt...,2023-04-29 06:47:12
3682,Newton-Minimum,232,https://web.archive.org/web/20230429064712/htt...,2023-04-29 06:47:12
3683,Rockwell City,487,https://web.archive.org/web/20230429064712/htt...,2023-04-29 06:47:12